body {
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

textarea {
    width: 100%;
    height: 200px;
    resize: none;
}

.formucolor {
    max-width: 25em;
    padding: 1.3em;
    margin: 0 auto;
    background-color: rgba(120, 119, 123, 0.3);
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow: inset 1px 1px 22px 4px rgba(0, 0, 0, 0.87);
}

body, .modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-modal:checked ~ .modal {
    opacity: 1;
    visibility: visible;
}

.contenedor {
    width: 430px;
    height: 116px;
    margin: auto;
    background: #fff;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}

#btn-modal:checked ~ .modal .contenedor {
    transform: translateY(0%);
}


.contenedor header {
    padding: 10px;
    background: #246efd;
    color: #fff;
}

.contenedor label {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
#btn-modal {
    display: none;
}

.lbl-modal {
    background: #246efd;
    color: #fff;
    padding: 9px 12px;
    border-radius: 4px;
    cursor: pointer;
}






