* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'calibri';
    background-image: url(/img/fondo.jpg);
}

.form-login {
    width: 400px;
    height: 360px;
    background: #0E315D;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #0E315D;
    color: white;
}

.form-login h5 {
    font-size: 22px;
    margin-bottom: 20px;

}

.controls {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.form-login p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-login a {
    color: white;
    text-decoration: none;
}


.form-login a:hover {
    text-decoration: underline;
}

